/*!
 * Less Long Shadow v1.0
 *
 * Open sourced under MIT license by @zensimilia.
 */
html {
  height: 100%;
}
html body {
  display: block;
  position: relative;
  min-width: 1100px;
}
html body .center {
  width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  position: relative;
}
html body > div {
  background-repeat: repeat-x !important;
}
html body > section {
  position: relative;
}
@media screen and (max-width: 1100px) {
  html body > * {
    display: inline-block !important;
    width: 1100px !important;
  }
}
button {
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
