@import "lesshat.less";
@import "long-shadow.less";


@siteWidht: 1100px;

html{
	height: 100%;

	body{
		display: block;
		position: relative;
		min-width: @siteWidht;

		.center{
			width: @siteWidht;
			min-width: @siteWidht;
			margin: 0 auto;
			position: relative;
		}

		>div{
		    background-repeat: repeat-x !important;
		}
		>section{
			position: relative;
		}
		@media screen and (max-width: @siteWidht) {
			>*{
				display: inline-block !important;
				width: @siteWidht !important;
			}
		}
	}
}


button{
    position: relative;
    cursor: pointer;
    outline: none;
    .transition(200ms, cubic-bezier(0.250, 0.250, 0.750, 0.750));
}


